<h3>Cześć {{ name }}!</h3>
Właśnie wysłałeś mail-a za pomocą formularza kontaktowego na stronie rankingowe.pl

Odpiszę na mail: {{ email }} tak szybko jak to tylko możliwe

Z pozdrowieniami

Zespół Rankingowe.pl
