{% extends "FOSUserBundle::layout.html.twig" %}

{% block pageTitle %} Edytuj swój profil {% endblock %}

{% block pageDescription %} Edycja profilu użytkownika - Rankingowiec.pl {% endblock %}

{% block user_bundle_title %}
    <h1>Edytuj swój profil</h1>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
