{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} Oceniaj wszystko i wszystkich! {% endblock %}

{% block pageDescription %} Portal z rankingami, oceniaj sławnych ludzi, filmy, youtuberów czy najlepsze piwo! Dowiedz się co inni myślą. {% endblock %}

{% block bodyId %} rank-list {% endblock %}

{% block topImage %}
    <!--Search top info-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                <img class="img-background" src="{{ asset('img/static_backgroud.jpg') }}" alt="object_bq">

                <h1>Wyszukiwanie frazy: <br /> <span class="redColor">Najlepszy</span> </h1>

            </div>
        </div>
    </div>
    <!--END Search top info-->

{% endblock %}

{% block pageContent %}

    <section class="category-ranking">
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-xs-6">
                        <form action="#" method="get" class="form-inline filter-search" role="form">

                            <select name="category" class="select-block">
                                <option value="dev">Popularne</option>
                                <option value="des">Najnowsze</option>
                                <option value="tech">Najw. ocen</option>
                            </select>

                        </form>
                    </div>

                    <div class="col-xs-6">
                        <h6 class="pull-right"><span class="badge"><i class="fa fa-database" aria-hidden="true"></i> Rankingów: 42</span></h6>
                    </div>
                </header>

                <!--Category rankings-->
                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}