{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} Oceniaj wszystko i wszystkich! {% endblock %}

{% block pageDescription %} Portal z rankingami, oceniaj sławnych ludzi, filmy, youtuberów czy najlepsze piwo! Dowiedz się co inni myślą. {% endblock %}


{% block bodyId %} rank-list {% endblock %}

{% block topImage %}
    <!--Carousel top-->
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner ">
                    <div class="item active">
                        <img src="img/slajdy/slide0.jpg" alt="slajd 1"/>

                        <div class="carousel-caption">
                            <h3>Największy patriota w hostorii Polski</h3>
                            <a class="button" href="#"><span>ZOBACZ RANKING</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img class="img-responsive" src="img/slajdy/slide1.jpg" alt="slajd 2"/></a>

                        <div class="carousel-caption">
                            <h3>Polak, który najbardziej przyczynił się do rozwoju polski</h3>
                            <a class="button" href="#"><span>ZOBACZ RANKING</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/slajdy/slide2.jpg" alt="slajd 3"/></a>

                        <div class="carousel-caption">
                            <h3>Najpiękniejsza polska aktorka</h3>
                            <a class="button" href="#"><span>ZOBACZ RANKING</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/slajdy/slide3.jpg" alt="slajd 3"/></a>

                        <div class="carousel-caption">
                            <h3>Najlepszy polski olimpijczyk w Rio [2016]</h3>
                            <a class="button" href="#"><span>ZOBACZ RANKING</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/slajdy/slide4.jpg" alt="slajd 4"/></a>

                        <div class="carousel-caption">
                            <h3>Kto w 2016 roku rządzi polską?</h3>
                            <a class="button" href="#"><span>ZOBACZ RANKING</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end carousel-->

{% endblock %}

{% block underImage %}

    <!--nav bar under carouse-->
    <div class="page-title">
        <h1><i class="fa fa-film" aria-hidden="true"></i> NAJLEPSZE FILMY </h1>
    </div>

{% endblock %}

{% block pageContent %}

    <!-- SECTION THE MOST POPULAR-->

    <section class="category-ranking">
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-xs-6">
                        <form action="#" method="get" class="form-inline filter-search" role="form">

                            <select name="category" class="select-block">
                                <option value="dev">Popularne</option>
                                <option value="des">Najnowsze</option>
                                <option value="tech">Najw. ocen</option>
                            </select>

                        </form>
                    </div>

                    <div class="col-xs-6">
                        <h6 class="pull-right"><span class="badge"><i class="fa fa-database" aria-hidden="true"></i> Rankingów: 42</span></h6>
                    </div>
                </header>

                <!--Tag rankings-->
                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank4.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank5.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem </p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="ranking-list-squere col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <div class="thumbnail-img">
                                <img class="img-responsive" src="img/ranking_photos/rank6.jpg" alt="...">
                            </div>
                            <div class="caption">
                                <h3>Najlepszy polski olimpijczyk w Rio  </h3>
                                <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: 4.2 mil</span>
                                <p>Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum Tekst lorem ipsum </p>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}