{% extends "FOSUserBundle::layout.html.twig" %}

{% block pageTitle %} Zmienianie hasła {% endblock %}

{% block pageDescription %} Zmień swoje hasło w portalu Rankingowiec.pl {% endblock %}

{% block user_bundle_title %}
    <h1>Zmień hasło do Twojego profilu </h1>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
