{% extends "AdminBundle::base.html.twig" %}

{% block pageTitle %} Kokpit {% endblock %}

{% block pageDescription %} Kokpit panelu administracyjnego serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}

    <div class="container">
        <div class="jumbotron">
            <h1>Witaj na Rankingowcu!</h1>
            <p>Użyj górnego menu, aby poruszać się po Panelu lub użyj przycisków poniżej, aby przyspieszyć swoją pracę.</p>
            <p><a class="btn btn-primary btn-lg">Dodaj nowy ranking</a></p>
        </div>
    </div>

{% endblock %}