<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>{% spaceless %}{% block pageTitle %} {% endblock %}{% endspaceless %} | Rankingowiec.pl</title>
    <meta name="description"
          content="{% spaceless %}{% block pageDescription %}{% endblock pageDescription %}{% endspaceless %}"/>
    <meta name="keywords" content="Ranking, rankingi, oceniać"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge.chrome=1"/>
    <meta name="author" content="Robert Saternus">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="shortcut icon" href="img/favicon.ico" type="image/icon">-->



    {% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Pragati+Narrow:700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {% stylesheets
            'assets/css/html5reset-1.6.1.css'
            'assets/css/bootstrap.min.css'
            'assets/css/font-awesome.min.css'
            'assets/css/select2.min.css'
            'assets/css/style_main.css'
            'assets/css/media-queries.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    {% block customScripts %}{% endblock %}

</head>

<body id="{% spaceless %}{% block bodyId %} {% endblock %}{% endspaceless %}">

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.7&appId=603470526483998";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<!--HEADER -->
<header>
    <!--STICKY BAR-->
    <div id="header-top">
        <div class="burger"><i class="fa fa-thumbs-up" aria-hidden="true"></i>RANKINGI</div>
        <div class="traggle-menu">
            <i class="fa fa-times-circle close" aria-hidden="true"></i>

            <div class="logo">
                <h1><a href="#">RANKING <br/> - owiec</a></h1>
            </div>

            <nav>
                <ul>
                    <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> LUDZIE </a></li>
                    <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> FILM </a></li>
                    <li><a href="#"><i class="fa fa-television" aria-hidden="true"></i> TELEWIZJA </a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i> MUZYKA </a></li>
                    <li><a href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i> SPORT </a></li>
                    <li><a href="#"><i class="fa fa-gamepad" aria-hidden="true"></i> GRY </a></li>
                    <li><a href="#"><i class="fa fa-laptop" aria-hidden="true"></i> INTERNET </a></li>
                    <li><a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i> ZABAWNE </a></li>
                    <li><a href="#"><i class="fa fa-flask" aria-hidden="true"></i> NAUKA </a></li>
                    <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> KSIĄŻKI </a></li>
                    <li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> WYDARZENIA </a></li>
                    <li><a href="#"><i class="fa fa-rocket" aria-hidden="true"></i> TECHNOLOGIA </a></li>
                    <li><a href="#"><i class="fa fa-fort-awesome" aria-hidden="true"></i> POLITYKA I HISTORIA </a></li>
                    <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> JEDZENIE I NAPOJE </a></li>
                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> MAPA KATEGORI </a></li>
                </ul>
            </nav>
        </div>


        <div class="icons-header">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <!--end sticky bar-->

    <!-- Modal with member login -->
    <div id="login-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">ZALOGUJ SIĘ NA TWOJE KONTO</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-8">

                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail" class="col-xs-3 control-label">Email</label>
                                    <div class="col-xs-9">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-xs-3 control-label">Hasło</label>
                                    <div class="col-xs-9">
                                        <input type="password" class="form-control" id="inputPassword"
                                               placeholder="Hasło">
                                        <p class="small"><a href="#">Nie pamiętam hasła</a></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-1 col-xs-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Zapamiętaj mnie
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-1 col-xs-10">
                                        <button type="submit" class="btn btn-success btn-lg">Zaloguj</button>
                                    </div>
                                </div>
                                <p class="bad-credential">Niepoprawny login lub hasło</p>

                            </form>

                        </div>
                    </div>

                    <div class="separator">
                        <div class="mask"></div>
                    </div>

                    <h6>Nie masz jeszcze konta na Rankingowcu?</h6>
                    <a class="button" href="#"><span>ZAŁÓŻ DARMOWE KONTO</span></a>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal with searching form -->
    <div id="search-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">SZUKAJ NA RANKINGOWCU</h3>
                </div>
                <div class="modal-body">

                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="search-input">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <input type="text" class="form-control" id="search-input"
                                       placeholder="Szukana fraza...">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Szukaj</button>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block topImage %}{% endblock %}

    {% block underImage %}{% endblock %}

</header>


<main>
    {% block pageContent %}{% endblock %}
</main>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 myself">
                <p><strong>RANKINGOWIEC</strong> to witryna, która umożliwia głosowanie praktycznie wszystko przez
                    wszystkich. Mamy dość opinii pojedyńczyć ludzi, dlatego stworzyliśmy serwis, gdzie rankingi bazują
                    opinii większości. Dopiero ruszamy, ale i tak dodajemy kilkanaście/kiladziesiąt rankingów dziennie.
                    {#Chcemy aby Rankingowiec był dla Was, dlatego zapraszamy do dyskucji w <a href="#">poczekalni</a>#}
                    {#oraz <a href="#">listy to-do</a>#}.</p>
            </div>

            <div class="col-sm-4 nav-footer">
                <div class="col-md-4 hidden-xs hidden-sm ico"><i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 col-sm-12 navi">
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">JAK TO DZIAŁA</a></li>
                        <li><a href="#">MAPA STRONY</a></li>
                        <li><a href="#">KONTAKT</a></li>
                        <li><a href="#">REGULAMIN</a></li>
                        <li><a href="#">POLITYKA PRYWATNOŚCI</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">&copy; Wykonanie i prowadzenie strony: <a href="http://robertsaternus.pl/">Robert Saternus</a></div>
</footer>


<!--SOCIAL MEDIA ICONS-->
<div id="fb-widget">
    <div class="fb-page" data-href="https://www.facebook.com/freelancelotPL" data-tabs="timeline"
         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/freelancelotPL" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/freelancelotPL">FreeLancelot</a></blockquote>
    </div>
    <img class="zakladka" src="{{ asset('img/facebook-icon.png') }}" alt="Rankingowiec facebook funpage"/>
</div>

{% block scripts %}

    {% javascripts
        'assets/js/jquery-2.1.3.min.js'
        'assets/js/jquery-ui.min.js'
        'assets/js/bootstrap.min.js'
        'assets/js/select2.min.js'
        'assets/js/script_main.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>

</html>